<!DOCTYPE html>
<html lang="en-us">
    <head>
        {% include head %}
    </head>
    <body>
        {{ content }}
        <!-- Alpine JS File -->
        {% comment %} <script src="/alpine.js?v={% version %}"></script> {% endcomment %}
        <script type="module" src="/js/index.js?v={% version %}"></script>
    </body>
</html>