<!DOCTYPE html>
<html lang="en-us">

<head>
    {% include head %}
</head>

<body>
    {{ content }}
    <!-- Alpine JS File -->
    <script src="/alpine.js?v={% version %}"></script>
</body>

</html>