<html>
    <head>
        <title>Eleventy Kit</title>
        <!-- CSS file built by webpack -->
        <link href="/assets/main.css" rel="stylesheet"/>
    </head>
    <body>
        <div>
            <h1 class="text-4xl font-black">Eleventy Kit</h1>
            <p class="text-lg text-gray-700 underline">An eleventy starter kit</p>
        </div>
        Edit test
        <div>
            <div x-data="{ open: false }">
                <button @click="open = true">Open Dropdown</button>

                <ul
                    x-show="open"
                    @click.away="open = false"
                >
                    Dropdown Body
                </ul>
            </div>
        </div>
        <div>
            <div>Feather Icon</div>
            <i data-feather="camera"></i>
        </div>
        <!-- JS file built by webpack-->
        <script src="/assets/main.js"></script>
    </body>
</html>